dataset/Hayao/*
dataset/Paprika/*
dataset/Shinkai/*
dataset/SummerWar/*
dataset/test/*
dataset/train_photo/*
dataset/val/*
dataset/Dataset.zip

samples

vgg19_weight/*
resnet50_weight/*
resnet18_weight/*

logs
__pycache__
*/__pycache__
