dataset/Hayao/*
dataset/Paprika/*
dataset/Shinkai/*
dataset/SummerWar/*
dataset/test/*
dataset/train_photo/*
dataset/val/*
dataset/Dataset.zip
checkpoint/*

samples

*_weight/*

logs
__pycache__
*/__pycache__
